* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: #0a092d;
  color: #fff;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 10px;
}

.title_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.quizes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.quiz {
  width: 30%;
  min-width: 400px;
  flex: 1;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 30px;
  border-radius: 10px;
  background: #fff;
}

.mySwiper {
  width: 100%;
}

.flashcard-content {
  margin-bottom: 15px;
}

.flashcard-btn {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.flashcard-btn:hover {
  background-color: #0056b3;
}

.user-answer {
  margin-top: 50px;
}

.detailsLinks {
  display: flex;
  gap: 5px;
  margin-top: 20px;
  overflow-x: scroll;
  scrollbar-width: none;
}

.detailsLink::-webkit-scrollbar {
  display: none;
}

.detailsLink {
  min-width: max-content;
  color: #fff;
  background: #2e3855;
  padding: 15px 40px;
  border-radius: 10px;
  font-weight: 700;
  position: relative;
}

.flashcard-container {
  width: 665px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.flashcard {
  position: relative;
  width: 100%;
  height: 350px;
  border: none;
  cursor: pointer;
  transition: 1s;
}

.flashcard-front,
.flashcard-back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  padding: 20px;
  background: #2e3855;
  transition: 0.5s;
}

.flashcard-front {
  z-index: 2;
}

.flashcard-back {
  transform: rotateX(180deg);
}

.flashcard.flipped .flashcard-front {
  transform: rotateX(-180deg);
}

.flashcard.flipped .flashcard-back {
  z-index: 2;
  transform: rotateX(0deg);
}

.flashcardTitle {
  font-size: 30px;
  color: #fff;
  font-weight: 700;
}

.flashcard-navigation {
  margin-top: 20px;
}

.flashcard-navigation button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.flashcard_botttom {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 35px;
}

.custom_pagination {
  width: max-content !important;
  user-select: none;
}

.custom-fraction-current {
  color: #fff;
}

.custom_prev,
.custom_next {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #fff;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  user-select: none;
  opacity: 0.5;
}

.active {
  opacity: 1;
}

.quiz_box {
  width: 750px;
  background: #2e3855;
  margin-top: 20px;
  padding: 30px;
  border-radius: 10px;
}

.current_term {
  font-size: 24px;
  color: #fff;
  margin-top: 20px;
}

.current_defination {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.quiz_input {
  width: 100%;
  min-height: 45px;
  border: none;
  border-radius: 5px;
  background: #0a092d;
  margin-top: 10px;
  border-radius: 10px;
  padding-left: 15px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.quiz_input_error {
  padding: 10px;
  padding-left: 15px;
}

.quiz_input input {
  width: 100%;
  height: 100%;
  background: inherit;
  outline: none;
  border: none;
  color: #fff;
}

.quiz_bottom {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
}

.result-container {
  width: 900px;
  background: #2e3855;
  margin-top: 20px;
  padding: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.result_left {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.result_right {
  width: 30%;
}

.result_circle {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #0a092d;
  position: relative;
}

.result_circle::after {
  content: "";
  position: absolute;
  width: 90px;
  height: 90px;
  background: #2e3855;
  border-radius: 50%;
  z-index: 0;
}

.result_circle_title {
  color: #fff;
  font-size: 25px;
  font-weight: 700;
  z-index: 2;
}

.result_box {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.studied {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}

.studied_title {
  color: green;
  font-size: 20px;
  font-weight: 600;
}

.studied_border {
  border: 1px solid green;
  color: green;
  font-weight: 700;
  font-size: 18px;
  padding: 4px 8px;
  border-radius: 10px;
}

.options {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.option-btn {
  width: 50%;
  padding: 15px;
  border-radius: 10px;
  min-width: 330px;
  border: none;
  outline: none;
  display: flex;
  flex: 1;
  background: inherit;
  border: 2px solid #505d86;
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.3s;
}

.option-btn:hover {
  border-color: #8791b3;
}

.option-btn_success {
  border-color: green;
  opacity: 1;
}

.option-btn_success:hover {
  border-color: green;
}

.option-btn_error {
  border: 2px solid red;
}

.option-btn_error:hover {
  border-color: red;
}

.option-btn_dimmed {
  opacity: 0.5;
}

@media screen and (max-width: 920px) {
  .result-container {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .flashcard-container,
  .quiz_box,
  .result_right,
  .result_left {
    width: 100%;
  }

  .result_right {
    text-align: center;
  }

  .result_left {
    margin-top: 40px;
  }

  .result-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 415px) {
  .quiz {
    min-width: 280px;
  }

  .flashcard {
    height: 300px;
  }

  .quiz_bottom {
    width: 100%;
    justify-content: space-between;
    gap: 0;
  }

  .option-btn {
    min-width: 100%;
  }

  .result_left{
    flex-direction: column;
    margin-top: 20px;
  }

  .result_box {
    margin-top: 20px;
  }
}
